<div class="py-2 px-2">
  <div class="card  " style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s; ">
    <div class="card-body   ">
      <h3 class="card-title">จัดทำใบเบิก</h3>
      <table style="font-size: 13px; ">
        <tr>
          <td>
            <p>สาขาวิชา
              <select>
                <option value="volvo">----</option>
                <option value="saab">วิศวกรรมคอมพิวเตอร์</option>
                <option value="mercedes">วิศวกรรมโทรคมนาคม</option>
                <option value="audi">วิศวกรรมอิเล็กทรอนิกส์</option>
              </select>
            </p>
          </td>
          <td>
            <p>ตำแหน่ง<select>
                <option value="volvo">----</option>
                <option value="mercedes">อาจาร์ยประจำ</option>
                <option value="audi">อาจาร์ยพิเศษ</option>
              </select></p>
          </td>
          <td>
            <p>ชื่อ<select>
                <option value="volvo">----</option>
                <option value="mercedes">นางเกตุกาญจน์ ไชยขันธุ์</option>
                <option value="audi">นางเกตุกาญจน์ ไชยขันธุ์</option>
              </select></p>

          </td>
          <td>
            <p>ภาคเรียน<select>
                <option value="volvo">---</option>
                <option value="volvo">1</option>
                <option value="mercedes">2</option>
                <option value="audi">3</option>
              </select></p>
          </td>
          <td>
            <p>ปีการศึกษา<select>
                <option value="volvo">2561</option>
                <option value="volvo">2562</option>
                <option value="mercedes"></option>
                <option value="audi"></option>
              </select></p>
          </td>
          <td>
            <p>
              ประเภทใบเบิก
              <select>
                <option value="volvo">ใบเบิกภาคปกติ</option>
                <option value="volvo">ใบเบิกภาคสมทบ</option>
              </select>
            </p>
          </td>
          <td>
            <p>
              เดือน
              <select>
                <option value="volvo">มิถุนายน</option>
                <option value="volvo">มิถุนายน</option>
              </select>
            </p>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </table>

      <div class="concontainer " style="padding-top: 20px;">
        <table class="table table-bordered " style=" margin-left:auto; margin-right:auto;text-align: center; width:
          max-content; height: min-content; font-size: 14px; ">
          <tr>
            <th colspan=" 2">ระยะเวลาที่สอน</th>
            <th rowspan="2">รหัสวิชา</th>
            <th rowspan="2">ชือวิชา</th>
            <th rowspan="2">คาบเรียนที่</th>
            <th colspan="2">เวลาที่สอน</th>
            <th colspan="2">รวมชั่วโมง</th>
            <th rowspan="2">หมายเหตุ</th>
          </tr>
          <tr>
            <th>สัปดาที่</th>
            <th>วันที่</th>
            <th>ภาคทฤษฎี</th>
            <th>ภาคปฎิบัติ</th>
            <th>ปวส.</th>
            <th>ป.ตรี</th>
          </tr>

          <tbody>
            <tr>
              <td>1</td>
              <td>อ. 2 ก.ค. 62</td>
              <td>40-181-306</td>
              <td>คอมพิวเตอร์โปรแกรม</td>
              <td>5-9</td>
              <td>2</td>
              <td>1</td>
              <td></td>
              <td>3.5</td>
              <td></td>
            </tr>


          </tbody>
          <th colspan="7">รวมชั่วโมง</th>
          <th>0</th>
          <th>3.5</th>
          <th></th>
        </table>
        <div style="text-align: center;">
          <button type="button" class="btn btn-success">ดาวน์โหลด </button>
        </div>

      </div>

    </div>
  </div>
</div>